@model List<PublicEvent>

<div class="list">
    <h1 class="display-4">Current Event Listings</h1>
    <table class="table table-striped" id="myTable">
        <thead>
            <tr>
                <th scope="col">Event</th>
                <th scope="col">Date and Time</th>
                <th scope="col">Duration</th>
                <th scope="col">Event Coordinator</th>
                <th scope="col">No. of Participants</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var e in Model)
            {
                if(e.Date > DateTime.Now)
                {
            <tr>
                <td><a href="/events/@e.EventId" class="actionLinks">@e.Title</a></td>
                <td>@e.Date.ToString("MM/dd/yyyy") @e.Time.ToShortTimeString()</td>
                <td>@e.DurationInt @e.DurationTime</td>
                <td>@e.Creator.firstName @e.Creator.lastName</td>
                <td>@e.Participants.Count</td>
                <td>
                    @if(e.UserId == HttpContextAccessor.HttpContext.Session.GetInt32("UserId"))
                    {
                        <a href="/events/@e.EventId/edit" class="btn btn-success no-float inline">Edit</a>
                        <form method="post" asp-action="Delete" asp-controller="home" asp-route-id="@e.EventId" class="inline">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                    }
                    else
                    {
                        if(e.Participants.Count == 0)
                        {
                            <form method="post" asp-action="RSVP" asp-controller="home" asp-route-id="@e.EventId">
                                <input type="submit" class="btn btn-success" value="Join">
                            </form>
                        }
                        else
                        {
                            var RsvpForEvent = e.Participants.Where(act => act.EventId == e.EventId).FirstOrDefault(u => u.UserId == HttpContextAccessor.HttpContext.Session.GetInt32("UserId"));
                            if(RsvpForEvent != null)
                            {
                                <form method="post" asp-action="RSVP" asp-controller="home" asp-route-id="@e.EventId">
                                    <input type="submit" class="btn btn-primary" value="Leave">
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-action="RSVP" asp-controller="home" asp-route-id="@e.EventId">
                                    <input type="submit" class="btn btn-success" value="Join">
                                </form>
                            }
                        }
                    }
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>

<a href="/events/new" class="btn btn-info">Add New Event</a>

<script>
function Search() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("search-input");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
        } else {
            tr[i].style.display = "none";
        }
        }
    }
}
</script>