@model PublicEvent

<div class="list"> 
    <div class="inline float-right">
    @if(Model.UserId == HttpContextAccessor.HttpContext.Session.GetInt32("UserId"))
    {
        <a href="/events/@Model.EventId/edit" class="btn btn-success no-float inline">Edit</a>
        <form method="post" asp-action="Delete" asp-controller="home" asp-route-id="@Model.EventId" class="inline">
            <input type="submit" class="btn btn-danger" value="Delete">
        </form>
    }
    else
    {
        if(Model.Participants.Count == 0)
        {
            <form method="post" asp-action="RSVP" asp-controller="home" asp-route-id="@Model.EventId">
                <input type="submit" class="btn btn-success" value="Join">
            </form>
        }
        else
        {
            var RsvpForEvent = Model.Participants.Where(act => act.EventId == Model.EventId).FirstOrDefault(u => u.UserId == HttpContextAccessor.HttpContext.Session.GetInt32("UserId"));
            if(RsvpForEvent != null)
            {
                <form method="post" asp-action="RSVP" asp-controller="home" asp-route-id="@Model.EventId">
                    <input type="submit" class="btn btn-primary" value="Leave">
                </form>
            }
            else
            {
                <form method="post" asp-action="RSVP" asp-controller="home" asp-route-id="@Model.EventId">
                    <input type="submit" class="btn btn-success" value="Join">
                </form>
            }
        }
    }
    </div>
    <h1 class="display-4 inline">@Model.Title</h1>
    <p class="lead block">Event Coordinator: @Model.Creator.firstName @Model.Creator.lastName</p>
    <p class="lead block">Description: @Model.Description</p>
    <p class="lead block">Participants (@Model.Participants.Count): </p>
    @foreach(var participant in Model.Participants)
    {
    <ul id="event-list">
        <li class="lead">&#x25b8; @participant.Attending.firstName @participant.Attending.lastName</li>
    </ul>
    }
</div>


