@model Participant

<div class="list">
    <h1 class="display-4">Create An Event</h1>
    <form asp-action="SubmitNew" asp-controller="Home" method="post">
        <span asp-validation-for="@Model.Event.Title"></span>
        <label asp-for="@Model.Event.Title"></label>
        <input asp-for="@Model.Event.Title"><br>

        <label asp-for="@Model.Event.Time"></label>
        <input asp-for="@Model.Event.Time"><br>
        
        <span asp-validation-for="@Model.Event.Date"></span>
        <label asp-for="@Model.Event.Date"></label>
        <input asp-for="@Model.Event.Date"><br>

        <label asp-for="@Model.Event.DurationInt"></label>
        <input asp-for="@Model.Event.DurationInt" class="inline">
        
        <select asp-for="@Model.Event.DurationTime">
            <option value="Hours">Hours</option>
            <option value="Minutes">Minutes</option>
            <option value="Days">Days</option>
        </select><br>

        <span asp-validation-for="@Model.Event.Description"></span>
        <label asp-for="@Model.Event.Description"></label>
        <textarea asp-for="@Model.Event.Description"></textarea>
        <br>
        <button class="btn btn-info">Create Event!</button>
    </form>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>